<div class="c-calendar">
    <div (click)="toggleCalendar()" class="x-button" id="xButton">X</div>
    <div class="calendar-body">
        <div class="calendar-top">
            <section class="window">
                <div class="calendar-container">
                </div>
            </section>
        <div class="calendar">
            <ejs-calendar style="background-color: gray; border:none; "[values]='dateValues' [isMultiSelection]='multiSelect'></ejs-calendar>
        </div>
    </div>
</div>
