.desc-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding-right: 1vh;
  }
  
  /* Track */
  .desc-container::-webkit-scrollbar-track {
    height: 99%;
    background: rgb(44, 44, 44);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: .75em;
    border-bottom-left-radius: .75em;
  }
   
  /* Handle */
  .desc-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: .75em;
    border-bottom-left-radius: .75em;
  }
  
  /* Handle on hover */
  .desc-container::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66);
  }

/* No rendering of Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

body {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
}

.c-comment {
    border:0.05em solid rgb(66, 66, 66);
    border-radius: 0.6vh;
    position: fixed;
    padding-top: 1vw;
    height: 53vh;
    background-color: rgba(54, 54, 54);
    right: 1.25vh;
    visibility: visible;
    transition: 0.1s;
    opacity: 1;
    width: 94%;
    margin-bottom: -48.8vh;
}

.desc-section {
    overflow: scroll;
    overflow-x: hidden;
}

.desc-title {
    padding: 0.2em;
    border-radius: 0.3vh;
    left: 5vh;
    position: absolute;
    background-color: rgba(24, 23, 23, 0.877);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vh;
    margin-left: 1vh;;
    top: 0;
    white-space: nowrap;
}

.desc {
    text-indent: 30px;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2em;
    color: rgb(27, 27, 27);
    background-color: rgb(124, 124, 124);
}

.desc-title-date {
    border-radius: 10px 10px 0px 0px;
    margin-left: .5%;
    width: 98%;
    margin-top: 3vh;
    border:0.05em solid rgb(48, 48, 48);
    text-align: center;
    background-color: rgb(27, 27, 27);
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding-top:1vh;
    padding-bottom: 1vh;
}

.desc-container {
    border:0.05em solid rgb(19, 19, 19);
    border-radius: 0px 0px 4.7px 4.7px;
    margin-left: .5%;
    width: 98%;
    background-color: rgb(124, 124, 124);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
}

.sub-container {
}

p {
    line-height: 1.7;
}

#descIcon {
    border-radius: 0.6vh;
    top: 0;
    float: top;
    position: absolute;
    margin-top: 0;
    color: white;
    background-color: rgba(24, 23, 23, 0.877);
    font-size: 3vh;
    padding: .1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#arrowIcon {
    visibility: hidden;
    cursor: pointer;
    visibility: hidden;
    border-top-right-radius: 0.6vh;
    border-bottom-left-radius: 0.6vh;
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 0;
    color: white;
    background-color: rgba(24, 23, 23, 0.877);;
    font-size: 3vh;
    padding: .3vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 1000px) {
    c-comment {
        height: 99%;
        bottom: 1vh;
        width: 100%
    }

    .c-comment {
        width: 98%;
        bottom: 0;
        z-index: 2;
        width: 99.3vw;
        display: relative;
        height: 51vh;
        margin-top: 92vh;
        left: 0vh;
    }

    #arrowIcon {
        visibility: visible;
    }

    .desc {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 2em;
        height: 50rem;
        padding-bottom: 10vh;;
}

    .desc-container {
        overflow: scroll;
        overflow-x: hidden;
        height: 25vh;
    }
  }

  @media only screen and (min-width: 1000px) {
    .c-comment {
        width: 23.6%;
        margin-right: .11px;
    }
    .desc-container {
        height: 45vh;
    }
  }

  @media only screen and (max-width: 1850px) {
    .desc-container {
        height: 45vh;
    }
    .c-comment {
        width: 23.6%;
    }
  }

  @media only screen and (max-width: 1550px) {
    .c-comment {

    }
    .desc-container {
        height: 45vh;
    }
  }

  @media only screen and (max-width: 1350px) {
    .c-comment {
        margin-left: 100%;
    }
    .desc-container {
    }
  }

  @media only screen and (max-width: 1250px){
    .c-comment {
        margin-left: 100%;
    }
    .desc-container {
    }
  }

  @media only screen and (max-width: 1000px) {
    .desc {
        bottom: 0; 
    }

    .c-comment {
        margin-left: 0.5%;
        width: 98.5%;
    }

    .desc-container {
        bottom: 0; 
        height: 24vh;
    }
  }

.comment-border {
        padding-bottom: 1em;
        height: 1em;
        width: 1em;
        color: white;
}

::-webkit-scrollbar-thumb {
        background-color: rgb(10, 10, 10);
        border-radius: none;
  }


