#container {
    margin: 0;
    padding: 0;
  }

.bar-chart {
    left: 0em;;
    z-index: 7;
    position: relative;
    border-radius: 0.6vh;
}

#myBarChart {
    background: rgb(54, 54, 54);
    border-radius: 0.6vh;
}

body {
    width: 100%;
}

.visual-padding {
    width: 1vw;
}

@media only screen and (max-width: 470px) {
    #myBarChart {
        visibility: hidden;
    }
}

@media only screen and (max-height: 500px) {
    body {
        width: 82%;
    }
    #myBarChart {
        width: 78%;
        margin-left: 10.2%;
    }
}

@media only screen and (min-height: 500px) {
    body {
        width: 88%;
    }
    #myBarChart {
        width: 100%;
        margin-left: 6%;
    }
}
