.sing-in-failed {
    font-family: Arial, Helvetica, sans-serif;
}

.google-sign-in {
    border-radius: 0.3em;
    width: 177.5px;
    height: 46px;
    cursor: pointer;
    background-color: white;
}

.google-text {
    color: rgb(78, 78, 78);
    border-radius: 0.3em;
    position: relative;
    margin-left: 1.9em;
    margin-top: -1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.microsoft-sign-in {
    border-radius: 0.3em;
    width: 177.5px;
    height: 46px;
    cursor: pointer;
    background-color: white;
}

.microsoft-text {
    color: #00A2ED;
    border-radius: 0.3em;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.github-sign-in {
    border-radius: 0.3em;
    width: 177.5px;
    height: 46px;
    cursor: pointer;
    background-color: white;
}

.github-text {
    border-top-left-radius: 0.3em;
    border-radius: 0.3em;
    position: relative;
    margin-left: 1.9em;
    margin-top: -1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}