<div style="width: 100%;display: flex;justify-content: center;">
    <h1 style="font-family: Arial, Helvetica, sans-serif; color: rgb(148, 148, 148)">Argilach</h1>
</div>
<div class="sign-in-page" style="width: 100%;display: flex;justify-content: center;">
    <div>
    <br>
        <form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm)">
            <input type="email" name="email" formControlName="email" placeholder="Email">
            <br>
            <br>
            <input type="password" name="password" formControlName="password" placeholder="Password">
            <br>
            <br>
            <button>Sign In</button>
        </form>
        <br>
    </div>
</div>
<div style="width: 100%;display: flex;justify-content: center;">
    <span class="sign-in-failed" style="font-family: Arial, Helvetica, sans-serif; color: rgb(148, 148, 148); font-weight: bold;" *ngIf="signInFailed">Sign in failed. Please try again.</span>
</div>