<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <div class="c-right-menu" id="cRightMenu"> 
        <div class="options-anchor"><div class="options-title"><span class="material-icons" id="optionsTitleIcon">settings</span><span class="options-title-item">Options</span></div></div>
            <div class="c-right-icons" id="cRightIcons">
            <div class="right-div" id="rightDiv0"><span class="material-icons" id=rightIcon0>info</span></div>
            <div class="right-div" id="rightDiv1"><span class="material-icons" id=rightIcon1>info</span></div>
            <div class="right-div" id="rightDiv2" (click)="toggleElement('cCalendar'); toggleRightMenuTS()"><span class="material-icons" id=rightIcon2>info</span></div>
            <div class="right-div" id="rightDiv3" (click)="reloadData()" ><span class="material-icons" id=rightIcon3>info</span></div>
            <div class="right-div" id="rightDiv4"><span class="material-icons" id=rightIcon4>info</span></div>
            <div class="right-div" id="rightDiv5" (click)="print()"><span class="material-icons" id=rightIcon5>info</span></div>
            <div class="right-div" id="rightDiv6" (click)="toggleFilterMenuTS()"><span class="material-icons" id=rightIcon6>info</span></div>
            <div class="right-div" id="rightDiv7" (click)="toggleFullscreenTS(0)"><span class="material-icons" id=rightIcon7>info</span></div>
            <div class="right-div" id="rightDiv8" (click)="toggleTableVisualTS()"><span class="material-icons" id=rightIcon8>info</span></div>
            <div class="right-div" id="hiddenDiv"><span class="material-icons" id=rightIcon2>info</span></div>
        </div>
    </div>
</body>
