<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="c-left-menu.component.js"></script>
</head>

<body>
    <div class="c-left-menu" id="cLeftMenu"> 
            <div class="text-collection">
                <div class="nav-anchor"><div class="nav-title"><span class="material-icons" id="navTitleIcon">explore</span><span class="nav-title-item">Navigation</span><span (click)="openSearchMenu()" class="material-icons" id="searchIcon">search</span></div></div>
                    <div class="left-div" (click)="setLandingPageTS()"  id="leftDiv0"><span class="material-icons" id=leftIcon0>info</span></div>
                    <div class="left-div" (click)="setPageTS(0)"  id="leftDiv1"><span class="material-icons" id=leftIcon1>info</span></div>
                    <div class="left-div" (click)="setPageTS(1)"  id="leftDiv2"><span class="material-icons" id=leftIcon2>info</span></div>
                    <div class="left-div" (click)="setPageTS(2)"  id="leftDiv3"><span class="material-icons" id=leftIcon3>info</span></div>
                    <div class="left-div" (click)="setPageTS(3)"  id="leftDiv4"><span class="material-icons" id=leftIcon4>info</span></div>
                    <div class="left-div" (click)="setPageTS(4)"  id="leftDiv5"><span class="material-icons" id=leftIcon5>info</span></div>
                    <div class="left-div" (click)="setPageTS(5)"  id="leftDiv6"><span class="material-icons" id=leftIcon6>info</span></div>
                    <div class="left-div" (click)="setPageTS(6)"  id="leftDiv7"><span class="material-icons" id=leftIcon7>info</span></div>
                    <div class="left-div" (click)="setPageTS(7)"  id="leftDiv8"><span class="material-icons" id=leftIcon8>info</span></div>
                    <!--<div class="left-div" (click)="setPageTS(8)"  id="leftDiv9"><span class="material-icons" id=leftIcon8>info</span></div>!-->
            </div>
    </div>
</body>