/* width */
/* fallback */
@font-face {
  font-display: block;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding-right: 1vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(105, 105, 105, 0.411);
    border-radius: .3vh;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(10, 10, 10);
    border-radius: .3vh;;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(22, 22, 22);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  html{
    width:100%; 
    height:100%; 
    padding:0px; 
    margin:0px;
    background-color: rgb(23, 23, 23);
    background-attachment: fixed
  }

  body{
    width:100%; 
    height:100%; 
    padding:0px; 
    margin:0px;
    background-attachment: fixed
  }

  #projector {
      position: absolute; 
      top: 0px;
      left: 0px;
      width:100%;
      height:100%;
  } 

  .center-div {
      width:580px;
      height:374px;
      position:absolute;
      left:50%;
      top:50%;
      margin-left: -290px;
      margin-top:  -187px;
  }

  #preloaderDiv
  {
      position:absolute;
      left:50%;
      top:50%;
      margin-left: -27px;
      margin-top:  -27px;
  }

  #logo{
      opacity:0;
      filter: alpha(opacity=0);
  }

#date2014
{
    position:absolute;
    padding-left: 210px;
    padding-top:15px;
    opacity:0;
    top:303px;
    left:0;
    filter: alpha(opacity=0);
}

  .animated-background {
    width: 100%;
    height: 100%;
    position: fixed;
  }

  @media print {
    html {
      background-color: white;;
    }
  }
